<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Calculate Avg Height</title>
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
    <!-- <link rel="stylesheet" href="{{css | safe}}"> -->
    <!-- <script src="{{js | safe}}"></script> -->
</head>
<body>

    <div class="nav">
    </div>

    {% block content %}
    {%endblock%}
    
</body>
</html>